
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" href="{% static 'img/resetImage.ico' %}" type="image/x-icon"> {% endcomment %}
    <!-- Custom CSS -->
    {% comment %} <link rel="stylesheet" href="{% static 'css/listar_empleados.css' %}" /> {% endcomment %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>   
    <div class="fondo min-vh-100 d-flex flex-column justify-content-center align-items-center">
        <!-- Contenedor del formulario botones mensajes etc -->
        <div class="contenedo-enlance-formulario w-25">
            <h5 class="color-volver mb-0 w-100 rounded-top">
                <a class="d-flex align-items-center text-white  text-decoration-none p-2"
                    href="{% url 'lista_proveedores' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                    </svg>
                    <span class="ms-2">
                        Volver a listado de proveedores
                    </span>
                </a>
            </h5>            
            <div class="contenedor-formulario p-5 rounded-bottom shadow p-3 mb-5">
                <h2 class="mb-4 text-center">Editar proveedor</h2>
                {% if messages %}
                    {% for message in messages %}
                    <div class="message-{{message.tags}} p-2 mb-1 text-center rounded text-light">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}        
                        <label class="mb-2" for="id_nombre">Nombre :</label>
                        <input type="text" value="{{proveedor.nombre}}" class="form-control" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="nombre" id="id_nombre">
                        <br>
                        <label class="mb-2" for="id_direccion">Direccion :</label>
                        <input type="text" value="{{proveedor.direccion}}" class="form-control" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="direccion" id="id_direccion">
                        <br>
                        <label class="mb-2" for="id_telefono">Telefono</label>
                        <input type="number" value="{{proveedor.telefono}}" class="form-control" name="telefono" id="id_telefono" required>
                        <br>
                        <label class="mb-2" for="id_email">Email :</label>
                        <input type="email" value="{{proveedor.email}}" class="form-control" title="Email" name="email" id="id_email" required>
                        <br>
                        <label class="mb-2" for="id_cuil">CUIL</label>
                        <input type="number" value="{{proveedor.cuil}}" class="form-control" name="cuil" id="id_cuil" required>
                        <br>
                        <label class="mb-2" for="id_responsable">Responsable :</label>
                        <input type="text" value="{{proveedor.responsable}}" class="form-control" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="responsable" id="id_responsable">
                        <br>
                        <label class="mb-2" for="id_facturaT">Tipo de Facturaa :</label>
                        <input type="text" value="{{proveedor.facturaT}}" class="form-control" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="facturaT" id="id_facturaT">
                        <br>
                        <label class="mb-2" for="id_rubro">Rubro :</label>
                        <input type="text" value="{{proveedor.rubro}}" class="form-control" pattern="[A-Za-z ]+" required title="Ingresa solo letras" name="rubro" id="id_rubro">
                        <br>
                    </div>
                    <button class="boton" type="submit"><span>Editar Proveedor</span></button>
                </form>
            </div>
        </div>    
    </div>
</body>
</html>